body {
    margin: 0;
    font-family: Arial, Helvetica;
}

.main {
    text-align: center;
}

.subtitle {
    color: gray;
    font-size: 16px;
    font-weight: 200;
}

.search {
    width: 25%;
    border: none;
    background-color: aliceblue;
    height: 30px;
    border-radius: 20px;
}

#searchbtn {
   background-color: cornflowerblue;
   border: none;
   height: 30px;
   color: white;
   border-radius: 30px;
}

input:hover{
    border-color: cornflowerblue;
}

/* Results Code */

#results {
    text-align: left;
    font-size: smaller;
    border: 1px solid cornflowerblue;
    width: 400px; 
    margin: 0 auto;
    padding: 10px;
   
}
